.body-container {
  margin: 9% 0 0 0;
  padding: 3rem 2rem;
  font-family: averta,avenir w02,avenir,Helvetica,Arial,sans-serif;

  .landing-page-details {
    text-align: left;

    .google-play-store-icon {
      width: 135px;
      height: 40px;
    }
  }
  
}
