.body-container {
  margin: 9% 0 0 0;
  padding: 3rem 2rem;
  font-family: averta,avenir w02,avenir,Helvetica,Arial,sans-serif;

  .landing-page-details {
    text-align: left;

    .google-play-store-icon {
      width: 135px;
      height: 40px;
    }
  }
  
}

@media only screen and (max-width: 960px) {
  .landing-page-details {
    & > h1 {
      font-size: 35px;
    }

    & > .momo-bank-theme-image {
      width: 90%;
      margin-top: 10%;
    }
  }
}
