.navbar-brand-custom {
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.bg-dark {
  background-color: #212529!important;
  border-top: solid;
  border-top-width: 3px;
  border-top-color: #c79c00;
}
