.navigation-bar {
  margin: 0 0 15px 0;
}

.bg-light {
  background-color: #FFCC00!important;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: rgb(0, 0, 0);
    }
  } 
}

.logout-btn {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}
